page-about {
    .toolbar-background-decompras {
        background: #f0582b; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(60deg, #24b9a2, #765ba7, #f0582b); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(60deg, #24b9a2, #765ba7, #f0582b); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(60deg, #24b9a2, #765ba7, #f0582b); /* For Firefox 3.6 to 15 */
        background: linear-gradient(60deg, #24b9a2, #765ba7, #f0582b); /* Standard syntax */
    }

    ion-navbar {
        background: #dedede;
    }

    .logo {
        max-width: 200px !important;
        margin: auto;
        width: 100%;
    }

    .contacto {
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
    }

    .mail {
        color: white;
        font-weight: bold;
        position: relative;
        z-index: 1000;
    }

    .toolbar-title-md {
        color: $verde !important;
        font-family: $decompras-font2-bold !important;
    }

    .imagen {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .icono {
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 16px;
    }

    .icono-indigo {
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    .texto {
        font-family: "decompras-font2" !important;
        color: white;
        font-size: 16px;
        padding-right: 15%;
    }
}
