card-list {
    p {
        line-height: 0;
    }
    font-family: $decompras-font1;
    font-size: 1.2rem !important;
    color: black;

    ion-icon:before {
        font-size: 20px !important;
    }
}