<div class="card-content" (click)="openList(list)">
	<div class="title-detail">
		<p class="card-title">{{list.name}}</p>
		<p class="card-detail">{{list.detail}}</p>
	</div>
	<div class="date-hour">
		<p class="date" *ngIf="list.date">{{list.date}}</p>
		<p class="hour" *ngIf="list.hour">{{list.hour}} hs.</p>
	</div>
</div>
<div class="icon-card">
	<ion-icon (click)="editList(list)" name='editar'></ion-icon>
	<ion-icon (click)="showConfirmDelete(list.$key)" name='eliminar-lista'></ion-icon>
</div>
