<div class="card-content" [ngClass]="{'back-violeta' : isViolet(), 'back-rojo': isRed(), 'back-verde': isGreen()}" (click)="openList(list)">
	<div class="title-detail">
		<p class="card-title">{{list.name}}</p>
		<p class="card-detail">{{list.detail}}</p>
	</div>
	<div class="date-hour">
		<p class="date" [hidden]="!list.date">{{list.date}}</p>
		<p class="hour" [hidden]="!list.hour">{{list.hour}} hs.</p>
	</div>
</div>
<div class="icon-card" [ngClass]="{'back-violeta' : isViolet(), 'back-rojo': isRed(), 'back-verde': isGreen()}">
	<ion-icon *ngIf="isAdmin()" (click)="editList(list)" name='editar'></ion-icon>
	<ion-icon *ngIf="isAdmin()" style="float: right;" (click)="showConfirmDelete(list.$key)" name='eliminar-lista'></ion-icon>
</div>

