page-options-list {
    #uno {
        background: $rojo;
    }

    #dos {
        background: $violeta;
    }

    #tres {
        background: $verde;
    }

    #cuatro {
        background: $rojo;
    }
}