page-add-list {
    .background-rojo {
        background-color: $rojo;
    }

    .toolbar-title-md {
        color: white !important;
    }

    ion-list {
        margin: 0px 16px !important;
    }

    ion-toolbar {
        padding: 4px 20% !important;
    }

    form {
        ion-label {
            font-family: $decompras-font2-bold;
        }
        ion-input {
            height: 40px !important;
        }
        input {
            font-family: $decompras-font1;
            color: black;
            font-size: 22px;
            line-height: 23px;
            height: 30px;
        }
    }
}