<ion-header>
  <ion-navbar class="toolbar-background-decompras">
    <button style="font-weight: bold;" color="blanco" menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-weight: bold;">{{ "Mis Listas" | translate }}</ion-title>
    <ion-buttons right>
      <button color="blanco" (click)="invitPerson()" style="font-size:22px; font-weight: bold;" ion-button>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-avatar style="margin-top: 20px;">
    <img class="foto-perfil" [src]="currentUser?.photo" image-error-fallback/>
  </ion-avatar>
  <p padding *ngIf="myLists?.length == 0 && !showLoader" text-center>Aun no tienes listas. <br> Toca en el boton + para crear una nueva</p>
  <ion-spinner *ngIf="showLoader" text-center margin-top style="width: 100%;"></ion-spinner>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let list of myLists" col-6>
        <card-list [list]="list"></card-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom #fab>
    <img src="assets/boton-mas.svg" (click)="addList();"/>
  </ion-fab>
</ion-content>


