page-users-list {
    .more-options {
        position: absolute;
        top: 15px;
        right: 0px;
    }

    ion-note {
        position: absolute;
        right: 20px;
        top: 30px;
    }
}