// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$decompras-font1: 'decompras-font1';
$decompras-font1-bold: 'decompras-font1-bold';
$decompras-font2: 'decompras-font2';
$decompras-font2-bold: 'decompras-font2-bold';



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  verde:      #24b9a2,
  violeta:    #765ba7,
  rojo:       #f0582b,
  primary:    #f0582b,
  light:      #f4f4f4,
  dark:       #222,
  blanco: #ffffff
);

$rojo: #f0582b;
$rojoopa: rgba(240, 88, 43, 0.7);
$violeta:#765ba7;
$violetaopa: rgba(118, 91, 167, 0.7);
$verde:#24b9a2;
$verdeopa: rgba(36, 185, 162, 0.7);

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, 
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: white !important;
  box-shadow: inset 0 -1px 0 0 white !important;
}

.input-has-focus .label-md[stacked], .input-has-focus .label-md[floating] {
  color: white !important;
}

.toolbar-background-md {
  background: transparent !important;
}

.toolbar-title-md {
    text-align: left !important;
    font-family: $decompras-font2-bold;
}

.ion-md-menu:before, .ion-md-share:before  {
  font-weight: bold !important;
}

.popover-md .popover-content {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.back-button-md {
  margin: 0 !important; 
  font-size:22px !important; 
  font-weight: bold !important;
}

.alert-md .alert-wrapper {
  height: auto;
  border-radius: 10px !important;
}

.alert-md .alert-head, .alert-md .alert-message, .alert-md .alert-input-group {
  padding: 16px !important;
  color: $verde !important;
  font-family: $decompras-font2;
}

.alert-md .alert-head {
  padding: 0 !important;
}

ion-action-sheet .admin-action-sheet {
    background: $rojo !important;
    color: white !important;
}

ion-action-sheet .eliminar-action-sheet {
    background: $violeta !important;
    color: white !important;
}

ion-action-sheet .cancelar-action-sheet {
    background: $verde !important;
    color: white !important;
}

.picker-opt .picker-opts .picker-opt-selected {
    font-family: $decompras-font1 !important;
}



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";
@import "../theme/icons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'decompras-font1';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/segoepr.ttf');
  src: url('../assets/segoepr.ttf?#iefix') format('embedded-opentype'),
       local('decompras-font1'),
       local('decompras-font1'),
       url('../assets/segoepr.ttf') format('woff')
}

@font-face {
  font-family: 'decompras-font1-bold';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/segoeprb.ttf');
  src: url('../assets/segoeprb.ttf?#iefix') format('embedded-opentype'),
       local('decompras-font2'),
       local('decompras-font2'),
       url('../assets/segoeprb.ttf') format('woff')
}

@font-face {
  font-family: 'decompras-font2';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/tt0246m_.ttf');
  src: url('../assets/tt0246m_.ttf?#iefix') format('embedded-opentype'),
       local('decompras-font3'),
       local('decompras-font3'),
       url('../assets/tt0246m_.ttf') format('woff')
}

@font-face {
  font-family: 'decompras-font2-bold';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/tt0247m_.ttf');
  src: url('../assets/tt0247m_.ttf?#iefix') format('embedded-opentype'),
       local('decompras-font4'),
       local('decompras-font4'),
       url('../assets/tt0247m_.ttf') format('woff')
}
