page-lista {
    font-family: $decompras-font1;

    .button-person-add {
        font-size:22px;
    }

    ion-searchbar {
         font-family: $decompras-font2 !important;
    }

    ion-content {
        background-image: url(../assets/lista/imagen-tilde-mancha-de-agua-para-fondo-de-lista.png);
        background-repeat: no-repeat;
        background-position: center 60%;
        background-size: 70%;
        background-color: $violetaopa !important;
    }

    ion-list {
        margin-bottom: 60px !important;
    }

    ion-item {
        background: transparent !important;
    }

    ion-list-header {
        background-color: $violeta !important;
        border: none !important;
        position: fixed !important;
        bottom: 0;
        margin: 0 !important;
        color: black !important;
    }

    .toolbar-title-md {
        color: $verde !important;
    }

    ion-navbar {
        background: #dedede;
    }
}