page-lista {
    .button-person-add {
        font-size:22px;
    }

    .total {
        width: 100%;
        position: fixed;
        bottom: 0;
        background: white;
    }

    ion-navbar {
        background: #c8c7cc;
    }
}