<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button color="light" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{currentList.name}}</ion-title>
    <ion-buttons right>
      <button (click)="showUsers()" class="button-person-add" ion-button>
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" type="search" placeholder="Buscá un item" showCancelButton="true" cancelButtonText="Cancelar" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button *ngIf="items?.length != 0" ion-button full color="light" (click)="showTotal()">Total</button>
  <p padding *ngIf="items?.length == 0" text-center>Toca en el boton + para agregar un item</p>
  <ion-spinner *ngIf="showLoader" text-center margin-top style="width: 100%;"></ion-spinner>
  <ion-list>
    <ion-list-header>
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of items">
      <button (click)="deleteItem(item.$key)" ion-button color="dark" clear icon-only item-right>
        <ion-icon name="trash" ></ion-icon>
      </button>
      <ion-badge item-right>${{item.price}}</ion-badge>
      <ion-label>
        {{item.name}}
      </ion-label>
      <ion-checkbox [(ngModel)]="item.done" (ionChange)="updatePrice(item)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab right bottom #fab>
    <button type="button" ion-fab color="primary" (click)="addItem();">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>