<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"ADDUSER" | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchUsers($event)" type="search" placeholder="{{ 'BUSCARUSUARIO' | translate }}" showCancelButton="true" cancelButtonText="Cancelar" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner *ngIf="showLoader" text-center margin-top style="width: 100%;"></ion-spinner>
    <button ion-button full color="primary">Invitar personas</button>
    <ion-list>
        <ion-item (click)="addUser(user)" *ngFor="let user of allUsers">
            <ion-thumbnail item-left>
                <img [src]="user.photo">
            </ion-thumbnail>
            <h2>{{user.fullname}}</h2>
            <p>{{user.email}}</p>
        </ion-item>
    </ion-list>
</ion-content>