page-add-user {
    font-family: $decompras-font2;
    ion-content {
        background-image: url(../assets/mis-listas/marca-agua.svg);
        background-repeat: no-repeat;
        background-position: center 60%;
        background-size: 70%;
        ion-item {
            background: transparent !important;
        }
    }

    .toolbar-title-md {
        color: $verde !important;
    }

    ion-navbar {
        background: #dedede;
    }

    ion-list {
        margin-bottom: 45px !important;
    }

    .info {
        font-family: $decompras-font2-bold;
        color: $violeta;
        font-size: 13px;
    }
}