page-add-item {
    ion-content {
        ion-title {
            font-family: $decompras-font2-bold;
        }
        .toolbar-title-md, .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
            color: white !important;
        }
        ion-list {
            margin: 0px 16px !important;
        }

        ion-toolbar {
            padding: 4px 20% !important;
            position: fixed;
            bottom: 0;
        }
        form {
            padding: 16px 0 !important;
            ion-icon {
                font-size: 26px;
                color: white;
                position: absolute;
                right: 40px;
                top: 85px;
            }
            ion-label {
                font-family: $decompras-font2-bold;
            }
            ion-input {
                height: 40px !important;
            }
            input {
                font-family: $decompras-font1;
                color: black;
                font-size: 22px;
                height: 30px;
                line-height: 23px;
            }
        }   
    }
    .background-rojo {
        background-color: $rojo !important;
    }

    .background-violeta {
        background-color: $violeta !important;
    }

    .background-verde {
        background-color: $verde !important;
    }
}